@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Controle de Almoxarifado</h5>
</div>

<img src="~/Assets/Images/almoxarifado2.jpg" alt="Foto de um almoxarifado" class="imagem-centralizada">

<style>
    .imagem-centralizada {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 600px;
    }
</style>
